body{
    background: #BDBDBD;
}
.jumbotron-bg {
    background-image: url("../img/bg.jpg");
    background-size: cover;
    background-position: bottom;
    height: 50vh;
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
 }

.display-3 {
    font-size: 60px;
}

.lead {
    font-size: 50px;
   
}
.contact {
    width: 800px;
    height: 240px;
    background: gainsboro;
    margin: 0 auto;
    padding: 15px 15px 20px 45px;
}
.titulo_contact {
    text-align: center;
    text-align: justify;
}