<!-- your html code here -->
<div class="container">
    <div class="row d-flex align-items-start">
    <!--texto -->
      <div class="col-md-8 mt-2">
        <h2>The First Heading <span style="color: #6c757d;">Will catch Your Eye</span></h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantti id sunt labore soluta dicta odit veniam, quis vitae quas praesentium vel ipsam totam magnam natus tenetur tempore amet consectetur adipisicing elit. Iure quis natus, nesciunt earum aspernatur cupiditate ste sunt consectetur corporis, eius neque ipsam sapiente voluptatum magnam itaq</p>
      </div>
    <!-- imagen -->
      <div class="col-md-4 text-center">
        <img src="../../website/assets/img/1.jpg" alt="Foto" class="img-fluid rounded-circle" style="max-width: 380px;">
      </div>
      <!--texto esquina derecha-->
      <div class="text-end">
        <h5 style="color: rgb(190, 38, 38);">first-heading.html</h5>
      </div>
    </div>
  </div>
