<footer>
    <div class="row align-items-center">
        <div class="col-md-8">
          <h4>The First Heading <span style="color: #6c757d;">Will catch Your Eye</span></h4>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium dolores obcaecati id sunt labore soluta dicta odit veniam, quis vitae quas praesentium vel ipsam totam magnam natus tenetur tempore iusto.</p>
        </div>
      
        <div class="col-md-4 text-center">
          <img src="website/assets/img/1.jpg" alt="Foto" class="img-fluid rounded-circle" style="max-width: 200px;">
        </div>
      </div>
</footer>
