<!-- your html code here -->
<div class="container pt-2 ">
    <h3>Portfolio</h3>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Totam illum quibusdam, dolor voluptatibus rerum
        repellendus, quas perspiciatis ab maiores tenetur magni aspernatur natus veniam placeat aliquam numquam est eos
        doloribus.</p>

    <div class="row row-cols-1 row-cols-md-3 g-4">
        <div class="col">
            <div class="card">
                <img src="../../website/assets/img/1.jpg"
                    class="rounded float-start" alt="..."" class=" card-img-top" alt="..." class="card-img-top"
                    alt="...">
                <div class="card-body">
                    <h5 class="card-title" style="color: rgb(109, 139, 219);">Project Name</h5>
                    <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Excepturi quasi libero consequuntur aperiam odit voluptates rem dolor consequatur quos modi hic esse, sit recusandae sapiente, voluptatibus eveniet dolorum reiciendis asperiores.</p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <img src="../../website/assets/img/1.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title" style="color: rgb(109, 139, 219);">Project Name</h5>
                    <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Excepturi quasi libero consequuntur aperiam odit voluptates rem dolor consequatur quos modi hic esse, sit recusandae sapiente, voluptatibus eveniet dolorum reiciendis asperiores.</p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <img src="../../website/assets/img/1.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title" style="color: rgb(109, 139, 219);">Project Name</h5>
                    <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Excepturi quasi libero consequuntur aperiam odit voluptates rem dolor consequatur quos modi hic esse, sit recusandae sapiente, voluptatibus eveniet dolorum reiciendis asperiores.</p>
                </div>
            </div>
        </div>
    </div>
</div>