<!-- your html code here -->
<div class="container">
    <div class="row d-flex align-items-start">
        <div class="col-md-4 text-center">
            <img src="assets/img/2.jpg" class="img-fluid rounded-circle" style="max-width: 380px; alt=" Foto teclado">
        </div>
        <div class="col-md-8 mt-2">
            <h1>The Second Heading <span style="color: #6c757d;">Is Pretty Cool Too.</span></h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores totam exercitationem nulla est quas
                ab
                tempore minus recusandae cum labore vel rem, fuga quam enim reiciendis at, iusto voluptatem animi!</p>
        </div>
    </div>
</div>