<!-- your html code here -->
<div class="row d-flex flex-row">
    <div class="col-4 d-flex justify-content-end">
        <img src="assets/img/2.jpg" class="rounded-circle" height=380px alt="Foto teclado">
    </div>
    <div class="col-8">
        <h1>The Second Heading <span style="color: #6c757d;">Is Pretty Cool Too.</span></h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores totam exercitationem nulla est quas ab
            tempore minus recusandae cum labore vel rem, fuga quam enim reiciendis at, iusto voluptatem animi!</p>
    </div>
</div>